@charset "UTF-8";

html, body
{
	width: 100%;
	height: 100%;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0; 
}

.p-display
{
	width: 100%;
	height: 100%;

	overflow: hidden;

	background: #1f1f33;
}

.p-content
{
	width: inherit;
	height: inherit;
}

.parti
{
	border-radius: 50%;
	position: absolute;
}

.p-layer
{
	transform-origin: 50% 50%;
	opacity: 0;
}

.tween-zoom
{	
	animation: tweenZoomFrames 30s linear forwards;

	backface-visibility: hidden;
}

.tween-zoom-s0
{
	animation-delay: 0s;
}

.tween-zoom-s1
{
	animation-delay: 5s;
}

.tween-zoom-s2
{
	animation-delay: 10s;
}

.tween-zoom-s3
{
	animation-delay: 15s;
}

@keyframes tweenZoomFrames
{
	0%		{ transform: scale(0) rotate(0deg); opacity: 0; }
	33%		{ transform: scale(2) rotate(90deg); opacity: 1; }
	66%		{ transform: scale(4) rotate(180deg); opacity: 1; }	
	100%	{ transform: scale(6) rotate(270deg); opacity: 0; }
}

.void
{
	width: 600px;
	height: 600px;
	border-radius: 50%;
	position: absolute;

	transform-origin: 50% 50%;

	left: 50%; top: 50%;
	transform: translate(-50%, -50%);

	background: radial-gradient(ellipse at center, rgba(228, 147, 10, 0.8) 0%, rgba(222, 194, 59, 0.5) 80%);
	/*background: red;*/
}

.blur
{
	-webkit-filter: blur(60px);
	filter: blur(60px);
}

.blur-mini
{
/*	-webkit-filter: blur(4px);
	filter: blur(4px);*/
}

.tween-void
{
	animation: tweenVoidFrames 10s ease-in-out infinite;
	backface-visibility: hidden;
}

@keyframes tweenVoidFrames
{
	0%		{  transform: translate(-50%, -50%) scale(1); }
	50%		{  transform: translate(-50%, -50%) scale(1.6); }
	100%	{  transform: translate(-50%, -50%) scale(1); }
}

.gfx-circle
{
	background-image: url(../img/circle.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}